* {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#1a1a1a, #383838);
}

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mainHeader {
    grid-column: 1 / span 9;
    grid-row: 1;
    background: none;
    min-height: 50px;
    background-image: linear-gradient(to right, transparent, #383838);
}

.main {
    display: grid;
}

.parts {
    grid-column: 1 / span 9;
    grid-row: 1 / span 3;
    height: 150px;
    display: grid;
    background: none;
    border-bottom: 1px solid white;
}

.main-inner {
    grid-column: 1 / span 9;
    grid-row: 4 / span 16;
    display: grid;
    height: 1280px;
}

@media only screen and (min-width : 415px) {
    .main-inner {
        height: 265px;
    }
}

@media only screen and (min-width : 769px) {
    .main-inner {
        height: 619px;
    }
}

@media only screen and (min-width : 992px) {
    .main-inner {
        height: 575px;
    }
}

.main-footer {
    grid-column: 1 / span 9;
    grid-row: 22 / span 2;
    border: dotted 2px black;
    min-height: 20px;
}

.hover {
    background: rgba(153, 255, 143, 0.15);
}